.frase{
  font-size: 18px;
  text-align: left;
}
.campo-digitacao{
  font-size: 18px;
  border-radius: 5px;
  height: 130px;
  background-color: #fff;
  border-color: #aeaeae;
  outline:none;
  text-align: center;
}
.campo-digitacao:disabled{
  background-color: #ffe6e5;
  border-color: #ff0000;
  text-align: center;
}
body{
  background-color: #e6feff;
}
.icones{
  vertical-align: middle;
}

.campo-correto{
  color: green;
}
.campo-errado{
  color: red;
}
.input-desafio{
  text-align: middle;
  border-radius: 5px;
  background-color: #fff;
  border-color: #aeaeae;
  outline:none;
  text-align: center;
  font-size: 18px;
  height: 50px;
}
.container-frase{
  background-color: #88d2ff;
  padding:10px;
  margin: 20px 0px 20px 0px;
}
